/* --------------------------обнуление---------------------------- */
@import url(null.css);

/* ----------------------подключение шрифтов---------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@600;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ----------------------оболочка--------------------- */
.wrapper {
    overflow: hidden;
	min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* ----------------------container--------------------- */

[class*="__container"] {
    max-width: 1020px;
    margin: 0 auto;
}


/* ----------------------header--------------------- */

/* ---------------------- header__top --------------------- */


/* ----------------------main--------------------- */
.main {
    flex: 1 1 auto;
}



/* ------------------------ make an appointment ----------------- */

.appointment {
    background: url(../img/main/appointment/duotone.jpg) 0 0 / cover no-repeat;
}
.appointment__container {
    padding: 130px 0 210px;
    position: relative;
    color: #FFFFFF;
}
.appointment__container::before{
    content: "";
    position: absolute;
    background:  url(../img/icons/appointment/Blob.svg) 20px 0 / cover no-repeat, url(../img/icons/appointment/Stylize.svg) 0 110px / 335px 566px no-repeat;
    top: 130px;
    left: -108px;
    width: 653px;
    height: 710px;
    z-index: 1;
}
.appointment__row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    column-gap: 90px;
    row-gap: 20px;
    margin: 0-10px;
    justify-content: space-between;
}

.appointment__box {
    flex: 0 0 585px;
    padding: 0 10px;
    background-color: #5D62B5;
    border-radius: 40px;
    align-self: flex-start;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.appointment__content {
    display: flex;
    justify-content: center;
    padding: 76px 57px;
    flex-wrap: wrap;
    gap: 43px;
}
.appointment__title {
    align-self: center;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    /* color: #FFFFFF; */
}
.appointment__form {
    font-size: 0;
    flex: 0 0 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    
}
.form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4.761%;
    row-gap: 22px;
}
[class^="form__"]{
    flex: 0 1 47.61%;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #5D62B5;
    color: #fff;
    padding: 17px 23.58px 15px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.15px;
    opacity: 0.8;
}
[class^="form__"]::placeholder,
.option-color {
    color: #fff;
    opacity: 0.8;
}

.form__textarea {
    flex: 0 0 100%;
    min-height: 180px;
}
.form__select-service{
    padding: 17px 21px 15px 23.58px;
}
[class^="form__"]:focus,
.button:focus  {
    outline: 2px #fff solid;
}

.appointment__button {
    display: flex;
    align-self: flex-end;
}
.button {
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 8px;
    padding: 9px 34px;
    transition: 0.3s;
    cursor: pointer;
}
.button:hover{
    background: #ec4a47;
    transform: translate(0, 1.5px);
}
.appointment__info {
    padding: 0 10px;
    align-self: center;
    justify-content: center;
    max-width: 344px;
}
.appointment__text {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 34px;
}
.appointment__number {
    font-weight: 900;
    font-size: 96px;
    line-height: 0.58;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 34px
}
.appointment__subtext {
    font-weight: 900;
    font-size: 19px;
    line-height: 1.37;
    text-align: center;
    color: #FFFFFF;
}


/*  --------------------------- summary ---------------------------  */

.summary {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.summary__container {
    max-width: 446px;
    margin: 100px auto;
    background: #F5F7FF;
}
.summary__box {
    padding: 17px 30px 29px;
    display: flex;
    flex-direction: column;
    flex: 0 1 386px;
}
.summary__header {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.summary__header:not(:last-child) {
    margin-bottom: 12px ;
}

.summary__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 18px 0;
}
.summary__subtitle {
    font-size: 18px;
    margin: 0 0 12px 0;

}
.summary__text {
    font-size: 14px;
    color: #666666;
}
.summary__form {
}
.form-summary {
    display: flex;
    flex-direction: column;
}
.form-summary__input {
    display: flex;
    flex-direction: column;
}
.form-summary__input:not(:last-child) {
    margin-bottom: 17px;
}
.form-summary__item:not(:last-child) {
    margin-bottom: 5px;
}
.items-input {
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: 600;
    font-size: 13px;
    line-height: 2.1;
}
.item-input {
    min-height: 50px;
    border: 1px solid #A2A6B0;
    box-sizing: border-box;
    border-radius: 4px;
}
.form-summary__radio:not(:first-child) {
    margin: -7px 0 0;
}
.radio-summary__block {
    position: relative;
}
.radio-summary__input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0;
}
.radio-summary__input:checked + .radio-summary__label::after{
    transform: scale(1);
}
.radio-summary__label {
    font-size: 14px;
    line-height: 1.42;
    min-height: 57px;
    position: relative;
    cursor: pointer;
    display: flex;
    column-gap: 8px;
    align-items: flex-start;
}
.radio-summary__label::before {
    cursor: pointer;
    flex: 0 0 21px;
    height: 21px;
    border-radius: 50%;
    content: "";
    border: 2px solid #0156FF;
    background-color: #fff;
}
.radio-summary__label::after {
    position: absolute;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    content: "";
    background-color: #0156FF;
    top: 4px;
    left: 4px;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}

.form-summary__apply {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}
.form-summary__subtitle{
    font-size: 18px;
    line-height: 1.5;
}
.form-summary__subtitle:not(:last-child){
    margin-bottom: 5px;
}
.item-input::placeholder{
    padding: 0 0 0 17px;
    line-height: 1.43;
    color: #A2A6B0;
}
.form-summary__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    flex: 0 0 50px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    color: #0156FF;
    border: 2px solid #0156FF;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease 0ms;
}
.form-summary__button:hover {
    background-color: #0156FF;
    color: #fff;

}
/*  --------------------------- registered ---------------------------  */

.registered {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.registered__container {
    max-width: 564px;
    margin: 0 auto 100px;
    background: #F5F7FF;
}
.registered__box {
    padding: 37px 57px 41px;
    display: flex;
    flex-direction: column;
    flex: 0 1 446px;
}




.registered__header {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.registered__header:not(:last-child) {
    margin-bottom: 7px ;
}
.registered__header > *:not(:last-child) {
    margin-bottom: 11px ;
}

.registered__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}
.registered__subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 2.14;
}

.form-registered {
    display: flex;
    flex-direction: column;
}
.form-registered__input {
    display: flex;
    flex-direction: column;
}
.form-registered__input:not(:last-child) {
    margin-bottom: 30px;
}
.form-registered__item:not(:last-child) {
    margin-bottom: 7px;
}
.items-input {
    display: flex;
    flex-direction: column;
}
.label_star{
    display: inline-flex;;
}
.label_star::after {
    content: "*";
    top: 0;
    right: ;
    color: #C94D3F;
    transform: translate(4px, 0);
}
.form-registered__buttons {
    display: inline-flex;
    column-gap: 23px;
    font-size: 14px;

}
.form-registered__button {
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #0156FF;
    border-radius: 50px;
    align-self: center;
    min-height:  50px;
    flex: 0 0 151px;
    transition: all 0.3s ease 0s;
}
.form-registered__button:hover {
    background-color: #40698f;
}
.form-registered__forgot {
    cursor: pointer;
    font-weight: 400;
    line-height: 1.43;
    align-items: center;
    color: #0156FF;
    background-color: transparent;
    transition: all 0.2s ease 0s;
}
.form-registered__forgot:hover {
    border: 1px solid #0156FF;
    box-shadow: 0px 0px 10px 2px #0156FF;
    /* flex: 0 0 151px; */
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transform: translate(-10px);

}
    